<h1><%= @merchant.name %> Discounts</h1>
<div id="bulk_discounts">
  <% @merchant.bulk_discounts.each do |bd| %>
    <p><%= link_to "Bulk Discount #{bd.id}", "/merchant/#{@merchant.id}/bulk_discounts/#{bd.id}" %></p>
    <p>Percentage: <%= bd.percentage %></p>
    <p>Quantity Threshold: <%= bd.quantity_threshold %></p>
    <p><%= link_to "Delete Bulk Discount #{bd.id}", "/merchant/#{@merchant.id}/bulk_discounts/#{bd.id}", method: :delete %></p>
    <br>
  <% end %>
</div>

<div id="new_discount">
  <%= link_to 'Create a New Discount', new_merchant_bulk_discount_path(@merchant) %>
</div>

<div id="holidays">
  <h2>Upcoming Holidays</h2>
  <p><%= @holiday_names[0] %> | <%= @holiday_dates[0] %></p>
  <p><%= @holiday_names[1] %> | <%= @holiday_dates[1] %></p>
  <p><%= @holiday_names[2] %> | <%= @holiday_dates[2] %></p>
</div>