<h1>Create New Bulk Discount</h1>
<div id="new_discount_form">
  <%= form_with url: merchant_bulk_discounts_path(@merchant), method: :post, local: true do |form| %>
    <%= form.label :percentage %>
    <%= form.text_field :percentage %>
    <%= form.label :quantity_threshold %>
    <%= form.text_field :quantity_threshold %>
    <%= form.submit 'Create Bulk Discount' %>
  <% end %>
</div>